.project {
    text-align: center;
    width: 282px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    padding-bottom: 1.5rem;
    transition: transform .2s;
    background-color: #cfbaf0;
    overflow: hidden;
}

.project:hover {
    transform: translate(0, -1rem);
}

.img {
    width: 100%;
}

.titulo {
    font-family: 'Playfair Display';
    font-size: 18px;
    color: #000000;

}

.info {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0 10px;
}

@media (max-width: 1100px) {
    .project {
        width: 336px;
    }

    .titulo {
        font-weight: 600;
    }
}