.navegacao {
    height: 112px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.link {
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: #3d348b;
    cursor: pointer;

}

.linkDestacado {
    text-decoration: underline;
}

@media (max-width: 744px) {
    .navegacao {
        height: 72px;
    }
}