* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --darkBlue: #041833;
  --mediumBlue: #1875E8;
  --mainColor: #041833;
  --post: #444444;
  --white: #FFF;
  --mainFont: 'Raleway', sans-serif;
  --secondary: 'Playfair Display', sans-serif;

  font-family: var(--mainFont);
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: minmax(0, 1fr);
  min-height: 100vh;
}

body {
  background-color: #F7F4FD;
}

a, button, input, textarea {
  font: inherit;
  color: inherit;
}

button {
  background-color: transparent;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1, h2, h3 {
  font-weight: 700;
  line-height: 5rem;
}